a {
  text-decoration:none;
  color:gray;
}

a:hover {
  text-decoration:underline;
}

ul li {
  list-style-type:none;
  display:inline;
}

#header {
  float:right;
  height:90px;
  margin:-10px 30px 30px 30px;
  border-radius:100%;
}

#main {
  position:relative;
  top:132px;
  text-align:center;
  clear:both;
}

#logo {
  margin:auto;
}

#searchbar {
  margin-left:388px;
 border:none;
 padding:0px;
 width:574px;
 height:33px;
 background:url("data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D") transparent;
 
}

#button,#button2 {
  background: linear-gradient(#f5f5f5, #f1f1f1);
  color:#cecece;
  border-radius:5px;
  border:1px #cccccc solid;
  font-family:sans-serif;
  height:30px
  font-size:11px
  padding:0;
  vertical-align:center;
}

#button {
  width:96px;
}

#button2 {
  width:111px;
}

#left {
  float:left;
}

#right {
  float:right;
}

#footer {
  bottom:0px;
}

