a {
  text-decoration:none;
  color:gray;
}

a:hover {
  text-decoration:underline;
}

ul li {
  list-style-type:none;
  display:inline;
}

#header {
  float:right;
  display:inline;
}

#main {
  margin:auto;
  text-align:center;
  width:500px;
}

#logo {
  margin-top:100px;
}

#searchbar {
  margin:auto;
}

#button {
  background-color:f1f1f1;
  color:#cecece;
  border-radius:5px;
  border:1px #cccccc solid;
  font-family:sans-serif;
  display:inline;
}

#left {
  float:left;
}

#right {
  float:right;
}


